<h1>Flights</h1>

<strong>Search for a flight</strong>

<%= form_with(model: @flight, url: "/", method: "get", html: { autocomplete: "off" }) do |f| %>
  <label>Departure Airport</label>
  <%= f.collection_select :departure_airport_id, Airport.order(:name), :id, :name_with_code %>
  <label>Arrival Airport</label>
  <%= f.collection_select :arrival_airport_id, Airport.order(:name), :id, :name_with_code %>
  <label>Number of Passengers</label>
  <%= f.select :passengers, (1..4) %>
  <label>Departing on</label>
  <%= f.collection_select :departure_datetime, Flight.order(:departure_datetime), :departure_datetime, :departure_date_formatted %>
  <%= f.submit("Search") %>
<% end %>
<br>
<% @flights.each do |flight| %>
  <p>From <%= flight.departure_airport.name %> (<%= flight.departure_airport.code %>) to <%= flight.arrival_airport.name %> (<%= flight.arrival_airport.code %>) </p>
  <p>Departs at <%= flight.departure_datetime.strftime("%H:%M") %> on <%= flight.departure_datetime.strftime("%d/%m/%Y") %>  and arrives at <%= flight.arrival_datetime.strftime("%H:%M") %> on <%= flight.arrival_datetime.strftime("%d/%m/%Y") %></p>
  <p>Flight duration is <%= flight.duration/60 %> hours and <%= flight.duration%60 %> minutes.</p>
  <p>Price: <%= number_to_currency(flight.price, :unit => "£")%></p>
  <br>
  
  <% end %>
